<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<link href="../../skins/skinsH/css/bootstrap.min.css" rel="stylesheet">
<link href="../../skins/skinsH/css/font-awesome.min.css"
	rel="stylesheet">
<link href="../../skins/skinsH/css/animate.min.css" rel="stylesheet">
<link href="../../skins/skinsH/css/style.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="../../skins/skinsH/css/plugins/sweetalert/sweetalert.css"
	rel="stylesheet">
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">

		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5 class="example-title" id="titleid">添加商城后台用户</h5>
			</div>
			<div class="ibox-content">
				<form class="form-horizontal m-t" id="signupForm" method="post"
					action="">
					<input type="hidden" id="staffId" name="staffId"> 
					<input type="hidden" id="roleName" name="roleName" >
					<input type="hidden" id="isdel" name="isdel" >
					<input type="hidden" id="password" name="password">
					<div class="form-group">
						<label class="col-sm-3 control-label">用户名：</label>
						<div class="col-sm-8">
							<input id="loginName" name="loginName" class="form-control"
								type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">真实姓名：</label>
						<div class="col-sm-8">
							<input id="nickname" name="nickname" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">所属角色：</label>
						<div class="col-sm-8">
							<select class="form-control m-b" name="roleId"
								id="roleId">
								<option value="0">请选择角色</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-3">
							<button class="btn btn-primary" type="submit">提交</button>
							<button class="btn btn-warning" type="button"
								onclick="goIndex(-1);">返回</button>
						</div>
					</div>
				</form>
			</div>

			<div class="clearfix"></div>
		</div>

	</div>
	<script src="../../skins/skinsH/js/jquery.min.js"></script>
	<script src="../../skins/skinsH/js/bootstrap.min.js"></script>
	<script
		src="../../skins/skinsH/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="../../skins/skinsH/js/plugins/validate/messages_zh.min.js"></script>
	
	<script
		src="../../skins/skinsH/js/plugins/sweetalert/sweetalert.min.js"></script>
	<!-- 自己写 -->
	<script type="text/javascript" src="../../skins/default/js/index.js"></script>
	<script type="text/javascript"
		src="../../skins/default/js/user-validate.min.js"></script>

</body>
</html>