<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.mapper.commonmodule.SysPowerMapper" >
  <resultMap id="BaseResultMap" type="com.taotao.pojo.commonmodule.SysPower" >
    <id column="POWER_ID" property="powerId" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="POWER_NAME" property="powerName" jdbcType="VARCHAR" />
    <result column="IMGURL" property="imgurl" jdbcType="VARCHAR" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="VARCHAR" />
    <result column="POWER_CODE" property="powerCode" jdbcType="VARCHAR" />
    <result column="POWER_TYPE_FLAG" property="powerTypeFlag" jdbcType="CHAR" />
    <result column="passwordLevel" property="passwordlevel" jdbcType="INTEGER" />
    <result column="POWER_PARENT_ID" property="powerParentId" jdbcType="VARCHAR" />
    <result column="is_parent" property="isParent" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    POWER_ID, URL, POWER_NAME, IMGURL, MODULE_NAME, POWER_CODE, POWER_TYPE_FLAG, passwordLevel, 
    POWER_PARENT_ID, is_parent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.taotao.pojo.commonmodule.SysPowerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_power
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_power
    where POWER_ID = #{powerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_power
    where POWER_ID = #{powerId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.taotao.pojo.commonmodule.SysPowerExample" >
    delete from sys_power
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taotao.pojo.commonmodule.SysPower" >
    insert into sys_power (POWER_ID, URL, POWER_NAME, 
      IMGURL, MODULE_NAME, POWER_CODE, 
      POWER_TYPE_FLAG, passwordLevel, POWER_PARENT_ID, 
      is_parent)
    values (#{powerId,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{powerName,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}, #{powerCode,jdbcType=VARCHAR}, 
      #{powerTypeFlag,jdbcType=CHAR}, #{passwordlevel,jdbcType=INTEGER}, #{powerParentId,jdbcType=VARCHAR}, 
      #{isParent,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.taotao.pojo.commonmodule.SysPower" >
    insert into sys_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="powerId != null" >
        POWER_ID,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="powerName != null" >
        POWER_NAME,
      </if>
      <if test="imgurl != null" >
        IMGURL,
      </if>
      <if test="moduleName != null" >
        MODULE_NAME,
      </if>
      <if test="powerCode != null" >
        POWER_CODE,
      </if>
      <if test="powerTypeFlag != null" >
        POWER_TYPE_FLAG,
      </if>
      <if test="passwordlevel != null" >
        passwordLevel,
      </if>
      <if test="powerParentId != null" >
        POWER_PARENT_ID,
      </if>
      <if test="isParent != null" >
        is_parent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="powerId != null" >
        #{powerId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="powerName != null" >
        #{powerName,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="powerCode != null" >
        #{powerCode,jdbcType=VARCHAR},
      </if>
      <if test="powerTypeFlag != null" >
        #{powerTypeFlag,jdbcType=CHAR},
      </if>
      <if test="passwordlevel != null" >
        #{passwordlevel,jdbcType=INTEGER},
      </if>
      <if test="powerParentId != null" >
        #{powerParentId,jdbcType=VARCHAR},
      </if>
      <if test="isParent != null" >
        #{isParent,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taotao.pojo.commonmodule.SysPowerExample" resultType="java.lang.Integer" >
    select count(*) from sys_power
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_power
    <set >
      <if test="record.powerId != null" >
        POWER_ID = #{record.powerId,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.powerName != null" >
        POWER_NAME = #{record.powerName,jdbcType=VARCHAR},
      </if>
      <if test="record.imgurl != null" >
        IMGURL = #{record.imgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleName != null" >
        MODULE_NAME = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.powerCode != null" >
        POWER_CODE = #{record.powerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.powerTypeFlag != null" >
        POWER_TYPE_FLAG = #{record.powerTypeFlag,jdbcType=CHAR},
      </if>
      <if test="record.passwordlevel != null" >
        passwordLevel = #{record.passwordlevel,jdbcType=INTEGER},
      </if>
      <if test="record.powerParentId != null" >
        POWER_PARENT_ID = #{record.powerParentId,jdbcType=VARCHAR},
      </if>
      <if test="record.isParent != null" >
        is_parent = #{record.isParent,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_power
    set POWER_ID = #{record.powerId,jdbcType=VARCHAR},
      URL = #{record.url,jdbcType=VARCHAR},
      POWER_NAME = #{record.powerName,jdbcType=VARCHAR},
      IMGURL = #{record.imgurl,jdbcType=VARCHAR},
      MODULE_NAME = #{record.moduleName,jdbcType=VARCHAR},
      POWER_CODE = #{record.powerCode,jdbcType=VARCHAR},
      POWER_TYPE_FLAG = #{record.powerTypeFlag,jdbcType=CHAR},
      passwordLevel = #{record.passwordlevel,jdbcType=INTEGER},
      POWER_PARENT_ID = #{record.powerParentId,jdbcType=VARCHAR},
      is_parent = #{record.isParent,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taotao.pojo.commonmodule.SysPower" >
    update sys_power
    <set >
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="powerName != null" >
        POWER_NAME = #{powerName,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        IMGURL = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null" >
        MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="powerCode != null" >
        POWER_CODE = #{powerCode,jdbcType=VARCHAR},
      </if>
      <if test="powerTypeFlag != null" >
        POWER_TYPE_FLAG = #{powerTypeFlag,jdbcType=CHAR},
      </if>
      <if test="passwordlevel != null" >
        passwordLevel = #{passwordlevel,jdbcType=INTEGER},
      </if>
      <if test="powerParentId != null" >
        POWER_PARENT_ID = #{powerParentId,jdbcType=VARCHAR},
      </if>
      <if test="isParent != null" >
        is_parent = #{isParent,jdbcType=BIT},
      </if>
    </set>
    where POWER_ID = #{powerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taotao.pojo.commonmodule.SysPower" >
    update sys_power
    set URL = #{url,jdbcType=VARCHAR},
      POWER_NAME = #{powerName,jdbcType=VARCHAR},
      IMGURL = #{imgurl,jdbcType=VARCHAR},
      MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      POWER_CODE = #{powerCode,jdbcType=VARCHAR},
      POWER_TYPE_FLAG = #{powerTypeFlag,jdbcType=CHAR},
      passwordLevel = #{passwordlevel,jdbcType=INTEGER},
      POWER_PARENT_ID = #{powerParentId,jdbcType=VARCHAR},
      is_parent = #{isParent,jdbcType=BIT}
    where POWER_ID = #{powerId,jdbcType=VARCHAR}
  </update>
</mapper>