<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<link href="../../skins/skinsH/css/bootstrap.min.css" rel="stylesheet">
<link href="../../skins/skinsH/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="../../skins/skinsH/css/plugins/bootstrap-table/bootstrap-table.min.css"
	rel="stylesheet">
<link href="../../skins/skinsH/css/animate.min.css" rel="stylesheet">
<link href="../../skins/skinsH/css/style.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">

		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5 class="example-title" id="titleid">角色管理</h5>
			</div>
			<div class="ibox-content">
									<div id="toolbar" class="btn-group">
										<a class="J_menuItem btn btn-outline  btn-default"
											href="/role/role-add.do" data-index="111"><i
											class="glyphicon glyphicon-plus"></i>新增 </a> <a
											class="J_menuItem btn btn-outline  btn-default"
											href="javascript:alert('功能暂未开放');" data-index="112"><i
											class="glyphicon glyphicon-trash"></i>删除 </a>
									</div>
									<table id="table" data-toggle="table"
										data-url="/role/powerRole/list.do" data-sort-name="roleId"
										data-sort-order="desc" data-search="true"
										data-show-refresh="true" data-show-toggle="true"
										data-show-columns="true" data-pagination="true"
										data-toolbar="#toolbar" data-query-params="queryParams"
										data-height="548">
										<thead>
											<tr>
												<th data-field="stat" data-checkbox="true"></th>
												<th data-field="roleId" data-sortable="true">编号</th>
												<th data-field="roleName" data-sortable="true">角色名称</th>
												<th data-field="defaultHomeUrl" data-sortable="true">角色主页</th>
												<th data-field="remark" data-sortable="true">备注</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="clearfix"></div>

	</div>
	<script src="../../skins/skinsH/js/jquery.min.js"></script>
	<script src="../../skins/skinsH/js/bootstrap.min.js"></script>
	<script
		src="../../skins/skinsH/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script
		src="../../skins/skinsH/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	<script
		src="../../skins/skinsH/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script type="text/javascript" src="../../skins/default/js/index.js"></script>
	<script src="../../skins/skinsH/js/contabs.min.js"type="text/javascript"></script>
	<script type="text/javascript">
			function queryParams() {
				return {
					type : 'owner',
					sort : 'roleId',
					direction : 'desc',
					rows : 20,
					page : 1
				};
			}
			var $table = $('#table');

			//获取选择行内容
			function onselect() {
				var selects = $table.bootstrapTable('getSelections');
				var selectsidjson = onselectid(selects);
				console.log(selectsidjson);
			}
			// 根据json 获取 选中id
			function onselectid(selects) {
				var str = "";
				var newSelects = $.parseJSON(JSON.stringify(selects));
				$.each(newSelects, function(n, value) {
					str += value.roleId + ",";
				});
				str = str.substring(0, str.length - 1);
				return str;
			}
		</script>
</body>
</html>